*~
.tmp
*.tmp
*.tmp.*
.DS_Store
Thumbs.db
.idea
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
TESTS-*.xml

*.log
log.txt
npm-debug.log*
junit-*.xml

/.idea
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
*.generated.json
.vs
